$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #2F80ED;
$primaryDark: #225CAA;
$primaryLight: #56CCF2;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EB5757;