@import "../../styles/colors.scss";

.headerWrap {
  display: flex;
  flex-direction: inherit;
  border-top: 40px solid $primaryDark;
  background-color: $white;
  align-items: center;

  img {
    margin-top: 30px;
  }

  h1 {
    font-size: 2rem;
    color: $primary;
    margin: 16px 0px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .headerWrap {
    border-top-width: 20px;
  }
}